.header {
	padding-top: 10px;
	padding-bottom: 10px;
	backdrop-filter: blur(35px);
	position: sticky;
	top: 0;
	z-index: 3;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_me {
	font-size: 24px;
}

.header_list {
	align-items: center;
	display: flex;
}

.header_list-item {
	padding: 0;
}

.header_link {
	display: flex;
	align-items: center;
	padding: 10px 30px;
}

.header_link_icon {
	margin-top: 2px;
	margin-right: 5px;
}

.header_link_text {
	font-size: 21px;
}
