.home {
	padding: 20px 30px;
}

.home_name {
	display: inline;
	font-size: 100px;
	background: -webkit-linear-gradient(180deg, #ff00b4, #004eff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home_description {
	color: #ffffffa8;
	max-width: 700px;
	margin-left: 20px;
	font-size: 18px;
}
